* {
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto; 
	width: 800px;
	padding-bottom: 50%;
}
.field	{
	width: 800px;
	height: 800px;
	position: relative;
	background-color: aqua;
	// display: flex;
	// flex-wrap: wrap;
}

.block {
	position: absolute;
	// width: 25%;
	// height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: yellow;
	cursor: pointer;
	user-select: none;

	transition: 0.2s;

}

.block0 {
	display: none;
	// background-color: aqua;
}